# Laravel
/vendor
/node_modules
/public/storage
/public/build/assets
/storage/*.key
.env
hardlan.sql
.env.*.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.idea
/.vscode
/.phpunit.cache
#+#+#+#+#+#+#+#+#+#+#+#+############################################################
# Vite / HMR
# Generated when running `npm run dev` (do not commit)
/public/hot

# Docker
docker-compose.override.yml

# Logs
/storage/logs
/storage/debugbar
npm-debug.log
yarn-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# Backups
/public/C/backups/
*.sql

# Vite
